@media  screen and (max-width: 600px) {
    body {
        background-color: red;
        font-size: 10px;
    }
    body #medium {
        display: none;
    }
    body #large {
        display: none;
    }
}

@media  (min-width: 600px) and (max-width: 768px) {
    body {
        background-color: green;
        font-size: 15px;
    }
    body #large {
        display: none;
    }
    body #small {
        display: none;
    }
}

@media  screen and (min-width: 768px) {
    body {
        background-color: blue;
        font-size: 20px;
    }
    body #small {
        display: none;
    }
    body #medium {
        display: none;
}