[class*="col-"] {
    float: left;
}

@media only screen and (max-width: 600px) {
   [class*="col-"] {
       width: 100%;
   }
}

@media (min-width: 600px) and (max-width: 768px) {
    .col-1 { width: 66%;}
    .col-2 { width: 33%;}
    .col-3 { width: 100%;}
}

@media only screen and (min-width: 768px) {
    .col-1 { width: 33%;}
    .col-2 { width: 33%;}
    .col-3{ width: 33%;}
}